alabaster==0.7.16
Babel==2.14.0
certifi==2024.7.4
charset-normalizer==3.3.2
docutils==0.20.1
idna==3.7
imagesize==1.4.1
Jinja2==3.1.6
MarkupSafe==2.1.5
maturin==1.4.0
mbqc_scheduling @ file:///tmp/.tmpkEdOo0/mbqc_scheduling-0.1.1a1-cp313-cp313-linux_x86_64.whl#sha256=15f48674b220bc44da9ba2bcee4bf983934b78ff65d6b08046ddd1926dedf808
packaging==23.2
pauli_tracker==0.1.0
Pygments==2.17.2
requests==2.32.4
setuptools==80.8.0
snowballstemmer==2.2.0
Sphinx==7.2.6
sphinx-autodoc-typehints==1.25.3
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
urllib3==2.5.0
